#circles-forum {
	margin: 0 0;
	padding: 0 0;
	max-width: none;
	max-height: none;
	width: 100%;
	height: auto;
}

#circles-forum iframe{
	width: 100%!important;
	margin: 0!important;
	max-width: none;
	max-height: none;
}

.post-inner {
	padding-top: 0px!important;
}

.footer-nav-widgets-wrapper {
  margin-top: 0px!important;
}

.entry-content {
	width: 100%!important;
    max-width: 100%!important;
}

// TODO: This breaks some styles in some WordPress websites, but was added to fix something
// .et_section_regular {
// 	display: none;
// }

article header {
	display: none!important;
}

// TODO: Temporary fix to remove title on the page
article h1.entry-title.main_title{
	display:none;
}


