.peerboard-modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100000;
    align-items: center;
    justify-content: center;
    .peerboard-modal-dialog {
        display: block;
        position: fixed;
        background: white;
        padding: 0px 20px 20px;
        width: 596px;
        max-width: 100%;
        border-radius: 5px;
        padding-top: 20px;
    }
    &.active {
        display: flex;
    }
    .reason {
        .additional_field {
            display: none;
            input {
                width: 250px;
                margin: 10px 20px;
            }
        }
        &.active {
            .additional_field {
                display: block;
            }
        }
    }
}
