/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: #000;
$white: #fff;
$gray: #dedede;
$green: #65d865;
$red: orangered;
$button-border: 1px solid rgba(0,0,0,.15);
$button-shadow: 0 2px 1px rgba(0,0,0,.05);
$editor-max-width:650px;